<div class="container">

<div class="row">
		<div class="col-md-6">
			<div class="links">

<br />

			<h1>Bienvenue !</h1>
<br />

			<p> Clique sur le bouton "commencer le jeu" pour continuer !</p>
<br />
<br />
		

	<%= link_to "commencer le jeu", games_path, method: :post, class: "btn btn-primary" %>
<br />

			</div>
		</div>
		<div class="col-md-6">
			<img src="https://static.comicvine.com/uploads/original/0/77/590214-genie.jpg" alt="", class="avatar">
		</div>
	</div>



</div>


















